[values]
learning_rate=0.01
momentum=0.9
weight_decay=5e-4
gamma=0.1
samples=10000
epochs_per_lr_drop=450
num_epoch=2
batch_size=16
num_workers=8
cuda=False
save_folder=os.path.expanduser('~/weights')
epochs_per_save=10
batch_per_log=10
auto_encoder=True
MAX_LENGTH=20
bidirectional=False
hidden_size_decoder=256
num_layer_decoder=1
hidden_size_encoder=256
num_layer_encoder=1
teacher_forcing=False
